
body {
    width: 1200px;
    margin: auto;
}
.p-contanier {
    width: 900px;
    margin: auto;
}
.p-contanier i {
    cursor: pointer;
    padding: 0 10px;
    color: blue;
}

.p-header {
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid lightgray;
}
.title h5{
    width: 45%;
}
.price h5{
    width: 20px;
}
.quantity h5{
    width: 20px;
}
.total h5{
    width: 15px;
}
.product {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 40px;
    border-bottom: 1px solid lightgray;
}
.products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    
    
}
.products i {
    margin-top: -30px;
    font-size: 25px;
    cursor: pointer; 
    margin-bottom: -40px;
    width: 10%;

}
.products span {
    font-size: 17px;
    font-weight: 600;
}
.product .price{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 20px;
}
.products img {
    width: 30%;
    
}

.product .quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
    font-size: 24px;
}
.product .total {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 65px;
    font-size: 24px;
}

.basketTotalContainrt {
    width: 285%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 27px;
    border-top: 1px solid lightgray;
}



















