@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

body {
  font-family: "Roboto", sans-serif;
}
main {
    width: 1200px;
    margin: auto;
}
a {
  text-decoration: none;
}
#products {
  position: relative;
  display: flex;
  flex: auto;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.product-card {
  width: 270px;
  position: relative;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 60px auto;
  background: #fafafa;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-tumb img:hover {
  max-width: 200%;
  max-height: 200%;
}

.product-details {
  padding: 30px;
}

.product-category {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
  cursor: pointer;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-links {
  text-align: right;
}

.product-links a {
  display: inline-block;
  margin-left: 5px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
  cursor: pointer;
}

/* for the modal */
#openBtn {
  margin-top: 28px;
  width: 1200px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  transition: 0.1s ease;
  cursor: pointer;
  text-align: center;
}
#openBtn button {
    width: 18%;
    background: #de9d3c;
    height: 32px;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    border-radius: 15px;
}

button:hover,
button:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

button:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

/* modal open button  */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  box-sizing: border-box;
  background-color: #e0e4ecee;
  margin-left: 30%;
  margin-top: 5%;
  padding: 20px;
  border: 2px solid #de9d3c;
  border-radius: 10px;
  width: 350px;
  height: 600px; /* Could be more or less, depending on screen size */
}

input[type="text"],
#category {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  border: none;
  border-bottom: 1px solid #de9d3c;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
  width: 300px;
}

#desc {
  height: 200px;
  width: 300px;
}

/* The Close Button */
.close {
  font-weight: bold;
  position: absolute;
  top: 480px;
  left: 400px;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

/* labels  */

label {
  padding-bottom: 16px;
  font-weight: bold;
}

#openBtn {
  padding: 10px;
}

/* for the stars */

.rating {
  width: 180px;
  position: absolute;
  display: inline-block;
  top: 525px;
  left: 120px;
}

.rating__star {
  cursor: pointer;
  color: #de9d3c;
}

.rating__star:hover {
  color: #eeff00;
}
