
* {
  padding: 0;
  margin: 0;}

  body {
    width: 1200px;
    margin: auto;
}

  

  header {
    display: flex;
     margin-bottom: 10px;
     
  }
 

  .logo img {
    width: 200px;
    height: 200px;
    flex: 1;
    cursor: pointer;
  }
  .nav {
     display: flex;
     flex: 2;
    justify-content: space-evenly;
    align-items: center;
  }
  .nav li {
    list-style: none;
     position: relative;
  }
  .nav a {
    text-decoration: none;
    font-size: 23px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    text-transform: capitalize;
  }
  .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .cart a i {
    font-size: 30px;
     color: rgba(218, 165, 32, 0.589);
  }
  .nav li::after {
    content: '';
    height: 2px;
    width:  0%;
    background-color: rgb(196, 176, 63);
    display: block;
    transition: .7s;
    margin: auto;
  }
  .nav li:hover::after {
    width: 100%;
  }

  main{
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
  }
  
  .photoBanner{
   position:relative;
    width: 1200px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    
  }
  
  .slidePhoto{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slidePhoto input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 2s;
  }
  
  .slide img{
    width: 1200px;
    height: 500px;
    opacity: 0.9
  }
    
  .navigation-manual{
    position: absolute;
    width: 1200px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: white;
  }
  
  #r1:checked ~ .first{
    margin-left: 0;
  }
  
  #r2:checked ~ .first{
    margin-left: -20%;
  }
  
  #r3:checked ~ .first{
    margin-left: -40%;
  }
  
  #r4:checked ~ .first{
    margin-left: -60%;
  }

  .navigation-auto{
    position: absolute;
    display: flex;
    width: 1200px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #r1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #r2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #r3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  #r4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  }






 /* cards style  */

  .Container{
    position: absolute;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: rgb(180, 71, 71);
    
}
.Container .card {
position: relative;
max-width: 300px;
height: 215px;
background: chocolate;
margin: 30px 30px;
padding: 20px 15px;
display: flex;
flex-direction: column;
box-shadow: 0 5px 20px rgb(0,0,0,0.5);
transition: 0.3s ease-in-out;
border-radius: 5px;

}

.Container .card:hover{
    height: 420px
}

.Container .card .imgBx
{
position: relative;
width: 260px;
height: 260px;
top: -60px;
left:20px;
z-index:1;
box-shadow: 0 5px 20px rgb(0,0,0,0.2);
}
.Container .card .imgBx img{

max-width: 100%;
border-radius: 4px;


}
.Container .card .content{

    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;

}
.Container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
    
}


  footer{
    
    display:flex;
    background-color: rgba(218, 165, 32, 0.589);
    padding :20px;
    

  }
